transformers
datasets
torch
torchvision
torchaudio
accelerate
scipy
numpy
pandas
tqdm
requests
nltk
spacy
sentencepiece
protobuf
opencv-python
pillow
jupyter
notebook
huggingface_hub
numpy
matplotlib
librosa
soundfile
evaluate
jiwer
sentence-transformers
